*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

/* intestazione-generico */
header{
  height: 450px;
  background-color: #0C325A;
}
.container{
  width: 80%;
  margin: auto;
}
.header-top{
  height: 60px;
  background-color: #0C325A;
  line-height: 60px;
}
.header-top::after{
  content: "";
  display: block;
  clear: both;
}
/* /intestazione-generico */

/* intestazione-logo */
.header-topo-logo{
  float: left;
  width: 15%;
  padding-top: 8px;
}
/* /intestazione-logo */

/* intestazione-nav */
.header-top li{
  margin: 0 10px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.menu-inline{
  list-style: none;
}
.menu-inline li{
  display: inline-block;
  cursor: pointer;
}
/* /intestazione-nav */

/* intestazione-nav-sinistra */
.header-top-nav-left{
  float: left;
  width: 50%;
  text-align: left;
}
/* /intestazione-nav-sinistra */

/* intestazione-nav-destra */
.header-top-nav-right{
  float: left;
  width: 35%;
  text-align: right;
}
#login{
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 12px;
}
.button {
  background-color: #7CBB02;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
/* /intestazione-nav-destra */

/* banner */
.banner{
  top: 40%;
  left: 24%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: left;
}
.banner h1{
  color: white;
}
.button2{
  padding: 15px;
}
.banner-img{
  top: 11.5%;
  right: 5%;
  position: absolute;
}
/* banner */

/* barra grigia */
.grey-bar{
  height: 150px;
  background-color: lightgrey;
  text-align: center;
  padding-top: 50px;
  line-height: 30px;
}
.grey-bar p{
  font-size: 15px;
  color: grey;
}
/* /barra grigia */
